<!-- Modal delete -->
<div class="modal fade" id="dialog-gr-delete<%= index + 1 %>" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete gramar</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/learning/grammar/delete" method="POST">
				<div class="modal-body">
					Do you really want to delete grammar? </div>
				<input value="<%= grammar.grammar_id %>" id="grammar_id" name="grammar_id" type="hidden" type="text">
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end modal -->