<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/html" href="layout-ingame.css">
  <script>
    //const roomName = "<%= roomName %>"    
    const displayName ="tien"   
    const roomName ="8050"  
  </script>
  <script>
    var socket = io('/china_word_ns');
  // tải hết html rồi mới tải script
  $(document).ready(function(){
    socket.emit('join_room',roomName,);
    //user joined
    socket.on("joined-room",function(displayName){
      $('#message-container').append("<p>"+displayName+" joined"+"</p>");
    });
    //send function
    $("#btnSend").click(function(){
      const message = $("#message-input").val();
      //alert(message);
    //appendMessage(`You: ${message}`)
      socket.emit('client_send_message', roomName,displayName, $("#message-input").val());
      $("#message-input").val("");
    });  
    //
    socket.on("server_send_message", function(data){
      //$('#message-container').append(data.message);
      var obj = JSON.parse(data);
      $('#message-container').append("<p>"+obj.name+": "+obj.message+"</p>");
    });
  });
  </script>

<style>
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }
</style>
</head>
<body>
  <% include navbar.ejs %>
<div id="message-container"></div>
<div id="send-container">
  <input type="text" id="message-input">
  <input type="button" id="btnSend" value="Send" />
</div>

</div>
</body>
</html>