<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script src="jquery.js"></script>  
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="layout.css">
  <script>
    var socket = io('/game-namespace');
  // tải hết html rồi mới tải script
  $(document).ready(function(){
    $("#btnCreat").click(function(){
      socket.emit('creat-room', $("#txtRoom").val());
      //alert($('#txtRoom').val());
    });    
    //  //chat function 
    $("#btnSend").click(function(){
      socket.emit("user-chat",$("#txtMessgage").val());
      //alert($('#txtRoom').val());
    });   
  });
  socket.on('server-send-rooms', function(data){
    $('#listRooms').html("");
      data.map(function(r){          
          $('#listRooms').append("<h4 class='room'>"+r+"</h4>");
      });
  });
  //
  socket.on("server-send-room-socket",function(data){
     $("#present-room").html(data);
  });
  socket.on("server-chat",function(data){
     $("#right").append("<div>"+data+"</div>");
  });
 
  </script>

</head>
<body> 
    <input type="text" id="txtRoom" required />
    <input type="button" id="btnCreat" value="Creat" />
    <div id="left">
      <h4 id="present-room">...</h4>
      <div id="listRooms"></div>
    </div>
    <div id="right">
    </div>
    <input type="text" id="txtMessgage"/>
    <input type="button" id="btnSend" value="Send"/>    
</body>
</html>