<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.v431.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    
    <link rel='stylesheet' href='/css/bootstrap-social.css' />
    
 
    
   
    <link rel='stylesheet' href='/css/style.css' />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- VENDOR CSS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>

<% include navbar.ejs %>

<div class="page-body">